.page {
  &-title {
    font-family: var(--font-family);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
    color: var(--primary);
    line-height: normal;
    margin-bottom: 0;

    @include lg-down {
      font-size: var(--font-size-h2);
      margin-bottom: 0;
    }

    @include md-down {
      font-size: var(--font-size-h3);
      margin-bottom: 0;
    }
  }

  &__spacing {
    padding: 40px 0 80px;

    @include lg-down {
      padding: 30px 0 60px;
    }
  }
}

.hr__divider {
  width: 100%;
  height: 0;
  border-top: 1px solid var(--line); // #EEE
}

.text__primary {
  color: var(--primary);
}

.text__secondary {
  color: var(--secondary);
}

.text__success {
  color: var(--success);
}

.text__warning {
  color: var(--warning);
}

.text__error {
  color: var(--error);
}

.text__gray-1 {
  color: var(--gray-1);
}

.text__gray-2 {
  color: var(--gray-2);
}

.text__gray-3 {
  color: var(--gray-3);
}

.text__white {
  color: var(--white);
}

.text__black {
  color: var(--black);
}

.actions__block {
  position: relative;
  overflow-x: unset;
  touch-action: unset;
  width: 100%;
  -webkit-overflow-scrolling: unset;
  margin-bottom: 0;
  padding: 0;

  @include lg-down {
    margin-bottom: 10px;
    padding: 20px 0;
    overflow-x: auto;
    touch-action: pan-x;
  }

  @include md-down {
    margin-bottom: 10px;
    padding: 20px 0;
    overflow-x: auto;
    touch-action: pan-x;
  }
}

.page-content {
  font-family: var(--font-family);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  color: var(--text-2);
  // line-height: var(--line-height-relaxed);
  // margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 768px) {
    font-size: var(--font-size-h5-mobile);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: var(--text-2);
  }

  h1 {
    font-size: var(--font-size-h1);

    @media (max-width: 768px) {
      font-size: var(--font-size-h1-mobile);
    }
  }
  h2 {
    font-size: var(--font-size-h2);

    @media (max-width: 768px) {
      font-size: var(--font-size-h2-mobile);
    }
  }
  h3 {
    font-size: var(--font-size-h3);

    @media (max-width: 768px) {
      font-size: var(--font-size-h3-mobile);
    }
  }
  h4 {
    font-size: var(--font-size-h4);

    @media (max-width: 768px) {
      font-size: var(--font-size-h4-mobile);
    }
  }
  h5 {
    font-size: var(--font-size-h5);

    @media (max-width: 768px) {
      font-size: var(--font-size-h5-mobile);
    }
  }
  h6 {
    font-size: var(--font-size-h6);

    @media (max-width: 768px) {
      font-size: var(--font-size-h6-mobile);
    }
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding-left: 0;
  }

  ul li {
    margin: 0;
  }

  img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    aspect-ratio: 16/9;
    object-fit: cover;
    // margin-bottom: 20px;
    border-radius: 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include lg-down {
      max-height: 300px;
    }

    @include md-down {
      max-height: 250px;
    }
  }
}
