// Карточки отзывов
// БЭМ: .testimonial-card, .testimonial-card__header, .testimonial-card__content, и т.д.

@import '../mixins/utilities';

// .swiper {
//   position: relative;
//   width: 100%;
//   height: calc(var(--swiper-width) * var(--swiper-image-ratio) / 100%);
//   overflow: hidden;
// }

// .swiper-slide {
//   position: relative;
//   width: var(--swiper-width);
//   // opacity: 0.5;
//   // transform: scale(0.84);
//   transition: all 0.3s ease-in-out;
//   overflow: hidden;
//   border-radius: 0.4285rem;
// }

.swiper-backface-hidden .swiper-slide {
  // transform: scale(.84) translateZ(0);
}

// .swiper-slide.swiper-slide-active {
//   // transform: scale(1) !important;
//   opacity: 1 !important;
// }

.swiper-backface-hidden .swiper-slide.swiper-slide-active {
  // transform: scale(1) translateZ(0) !important;
}

// .swiper-image {
//   position: relative;
//   width: 100%;
//   padding-top: var(--swiper-image-ratio);
// }

.testimonial-card {
  background-color: var(--background);
  border-radius: 8px;
  padding: 40px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  width: 100%;
  // max-width: 1000px;
  flex-shrink: 0;

  @include md-down {
    flex-direction: column;
    padding: 30px 20px;
    gap: 20px;
    max-width: calc(100% - 32px);
    margin: 0 auto;
  }

  &__avatar {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    overflow: hidden;
    flex-shrink: 0;

    @include md-down {
      width: 120px;
      height: 120px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
  }

  &__name {
    font-family: var(--font-family);
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-bold);
    color: var(--text);
    line-height: normal;
    margin: 0;

    @include md-down {
      font-size: var(--font-size-h6);
    }
  }

  &__position {
    font-family: var(--font-family);
    font-size: var(--font-size-title1);
    font-weight: var(--font-weight-medium);
    color: var(--secondary);
    line-height: 1.3;
    margin: 0;

    @include md-down {
      font-size: var(--font-size-body);
    }
  }

  &__text {
    font-family: var(--font-family);
    font-size: var(--font-size-title1);
    font-weight: var(--font-weight-regular);
    color: var(--text);
    line-height: normal;
    margin: 0;

    @include md-down {
      font-size: var(--font-size-body);
      @include truncate-lines(4);
    }
  }

  &__link {
    display: none;

    @include md-down {
      font-family: var(--font-family);
      font-size: var(--font-size-body);
      font-weight: var(--font-weight-semibold);
      color: var(--primary);
      line-height: normal;
      text-decoration: none;
      margin-top: 12px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
  }
}
