@mixin font-face($font-family, $font-path, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-family: $font-family;
    src: url("#{$font-path}.woff2") format("woff2"),
         url("#{$font-path}.woff") format("woff"),
         url("#{$font-path}.ttf") format("truetype");
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}
