// Bootstrap 5 JS Local
script(src="assets/plugins/bootstrap/bootstrap.bundle.min.js")

// Swiper JS
script(src="assets/plugins/swiper/swiper-bundle.min.js")

// jQuery (required for DataTables and Select2)
script(src="assets/plugins/jquery/jquery.min.js")

//- // Select2 JS
//- script(src="assets/plugins/select2/select2.min.js")

// Nice Select JS
script(src="assets/plugins/nice-select/jquery.nice-select.min.js")

//- // DataTables JS
//- script(src="assets/plugins/datatables/jquery.dataTables.min.js")
//- script(src="assets/plugins/datatables/dataTables.bootstrap5.min.js")

//- // DataTables Responsive JS
//- script(src="assets/plugins/datatables/dataTables.responsive.min.js")

//- // Add to Calendar Button JS
//- script(src="assets/plugins/addtocalendar/atcb.min.js")

//- // Lite YouTube Embed JS
//- script(src="assets/plugins/youtube-lite/lite-yt-embed.js")

// Fancybox JS
script(src="assets/plugins/fancybox/fancybox.umd.js")

// Intl Tel Input JS
script(src="assets/plugins/intl-tel-input/intl-tel-input.min.js")

// Custom Scripts
script(src="assets/js/script.min.js")
block scripts